# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-note'
      'command': 'atom-note:toggle'
    }
  ]
  '.tree-view.full-menu': [
    {'type': 'separator'}
    {'label': '好玩New File', 'command': 'tree-view:add-file'}
    {'type': 'separator'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-note'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-note:toggle'
        }
      ]
    ]
  }
]
